{% if not valid_currency %}
    <div class="alert alert-warning">{{ invalid_currency_message }}</div>
{% else %}
<form action="{{ action }}" method="post">
    <div class="buttons clearfix">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" data-loading-text="Loading..." class="btn btn-primary">
        </div>
    </div>
</form>
{{ javascript }}<br/>
{% endif %}

